.utilities-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
}
.Left_Utilities{
    display: flex;
    align-items: center;
    gap: 15px;
}
.Copy_Paste_Delete{
    padding: 0px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 25px;
}
.Undo_Redo
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Rotate_and_Flip{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Right_Utilities{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Copy, .Paste, .Delete, .Undo, .Redo, .Rotate, .Flip, .code, .Run_Code, .Color{
    width:50px;
    height:50px;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    /* display:; */
}